

.presentation-title{
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:white;
}

.presentation-text{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:white;
}

.presentation{
    margin: 0 auto;
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.introduction-bg{
    background-image: url("@/../../../assets/presentation.jpg");
    background-repeat: no-repeat;
    opacity: 1;
}

.button-file{
    background-color: #3c5b5c;
}

.file-content{
    position: absolute;
    top: 70%;
}

.file-content .resume{
    width: 136px;
    font-size: 25px;
}

.competence{
    margin-right: 10%;
}