<template>
    <section class="introduction-bg section-resume" id="introduction" 
        v-bind:style="{ 'background-position': scrollPosition }" >
        <div class="presentation">
            <div v-html="$t('Title')" class="presentation-title">
            </div>
            <div v-html="$t('Presentation')" class="presentation-text">
            </div>
        </div>
        <div class="file-content w-100 text-center">
            <b-button-group size="lg">
                <b-btn class="button-file rounded competence" href="https://www.linkedin.com/in/sami-halabi/" download>{{ $t("Linkedin") }}</b-btn>
                <b-btn class="resume button-file rounded" href="https://gitlab.com/lrdoz" download>{{ $t("Git") }}</b-btn>
            </b-button-group>
        </div>
    </section>
</template>

<script src="./introduction.js"></script>
<style src="./introduction.css"></style>
