.title{
    font-size: 40px;
}

.section-resume .project{
    margin: 2%;
    padding: 0;
    min-width: 330px;
}

.section-resume .project .card-img-top{
    height: 330px;
}

.tools{
    margin: 1%;
}

.btn-url{
    margin: 5%;
}