<template>
    <section class="section-resume section-project bd-example" id="project">
        <h2 class="title"><span>{{$t("Title")}}</span></h2>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-3 project border border-dark card"
                    v-for="(project, idx) in $t('Projects')" :key="idx" >
                        <img class="card-img-top" :src="getImgUrl(project.Picture)" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title ">{{project.Title}}</h3>
                            <p class="card-text" v-html="project.Description">
                            </p>
                            <p>
                                <span  v-for="(tool, index) in project.Tools" :key="index" class="badge badge-pill badge-dark tools">{{tool}}</span>
                            </p>
                            <p>
                                <a :href="project.Link" class="btn btn-outline-secondary btn-lg btn-url">Repo</a>
                                <a v-if="project.Url" :href="project.Url" class="btn btn-outline-secondary btn-lg btn-url">Url</a>
                            </p>
                        </div>
                </div>
            </div>
        </div>
    </section>

</template>

<script src="./project.js"></script>
<style src="./project.css"> </style>