.router-link-exact-active{
    color: #183233!important;
}

.nav-text:hover{
    color: #183233!important;
    text-decoration: none;
}

.nav-text{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:white;
    text-transform: uppercase;
}

.country-select{
    background-color: transparent;
}

.background-navbar{
    background:#3c5b5c;
}
