<template v-slot:header>
    <b-navbar fixed="top" 
        v-bind:class="{ 'background-navbar shadow-lg' : showHeader }"
        toggleable="sm">
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" class="justify-content-center" is-nav>
            <b-navbar-nav class=""  v-bind:class="isActive ? '' : 'show'" v-for="route in navValues" :key="route">
                <b-nav-item  v-bind:href="'#'+ route" class="nav-text "> {{ $t(route) }}</b-nav-item>
            </b-navbar-nav>
        <!-- Language select -->
        <!-- <ul class="locale-changer">
            <select v-model="$root.$i18n.locale" :class="$root.$i18n.locale" class="custom-select custom-select-lg country-select nav-text">
                <option v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang">{{$t(lang)}}</option>
            </select>
        </ul> -->
        </b-collapse>
    </b-navbar>
</template>


<script src="./header.js"></script>
<style src="./header.css"></style>
