
.page-footer{
    height: 200px;
    color: #ffff;
}

.bg-footer{
    background-color: #414D53;
}

.bg-copyright{
    background-color: #2B3337;
}

.logo{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.about-logo{
    margin-right: 5%;
}

.btn-contact, .btn-contact:hover{
    color: inherit;
    text-decoration: none;
}