* {
    margin: 0;
}

html, 
body {
    height: 100%;
    background: #fafafc;
    font-size: 17px;
    scroll-behavior: smooth;
}

body .default-text-color, body{
    color: #26262d;
}

body .default-text-color-hover:hover{
    color: #26262d;
}

/* CSS of section */
.section-resume{
    min-height: 100%;
    width: 100%;
    background-color: #F1F3F3;
}

.section-resume h2{
    color: #1e3d3e;
    text-align: center; 
    position: relative;
}

.dl, ol, ul{
    margin-bottom: 0rem;
}

:root {
    --animate-delay: 2s;
  }
  